doctype 5
html
  head
    - if (typeof(title) == 'undefined')
        title Express Starter Template
    - else 
        title= title
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href='/stylesheets/bootstrap/4.0.0-alpha.5/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/page.css')
    
    // include default scripts and any view scripts
    script(src='/javascripts/jquery-1.8.3.min.js')
    script(src='/javascripts/modernizr.js')
    script(src='/javascripts/typed.js')

    script(src='/javascripts/angularjs/1.4.8/angular.min.js')
    script(src='/javascripts/angularjs/1.4.8/angular-route.min.js')
    script(src='/javascripts/angularjs/1.4.8/angular-cookies.min.js')

    script(src='/javascripts/angularjs/app.js')
    script(src='/javascripts/angularjs/app_directive.js')
    script(src='/javascripts/angularjs/app_service.js')
    script(src='/javascripts/angularjs/date.format.js')

    script(src='/javascripts/angularjs/controller/MainController.js')
    script(src='/javascripts/angularjs/controller/SongController.js')
    
    block head
    
  body(ng-app='myApp')  
    header
      div(class='content-wrapper')
        div(class="float-left")
          p(class="site-title")
            a(href="/" + language)
              img(src="/images/logo_guess_word.png")
        div(class="float-right")
          section#login
            ul
            -if(!everyauth.loggedIn)
                li
                    select(onchange="goto()")(name="language")(id="mySelect")
                      -if(language=='en')
                        option(value="en")(selected) English
                      -else
                        option(value="en") English

                      -if(language=='th')
                        option(value="th")(selected) Thai
                      -else
                        option(value="th") Thai
                li
                    a(href="/register") Register
                li
                    a(href="/login") Log in
                    
            -else
                -if(everyauth.facebook)
                    li Welcome !{everyauth.facebook.user.first_name} !{everyauth.facebook.user.last_name}!
                -else if(everyauth.twitter)
                    li Welcome !{everyauth.twitter.user.name}!
                -else if(everyauth.password)
                    li Welcome!
                li 
                    a(href="/logout") Logout
          nav
            ul#menu
              li 
                a(href="/" + language) Intro
              li 
                a(href="/chat") Chat
              li
                a(href="/" + language + "/play")(lang="play") Play!!
    #body
        block content
          
    footer
      div(class="content-wrapper")
        div(class="float-left")
          p &copy; !{(new Date()).getFullYear()}
        div(class="float-right")
          ul#social
            li
              a(href="https://www.facebook.com/chin.chayut", class="facebook") Facebook
              a(href="http://twitter.com/chhopster", class="twitter") Twitter
    script(type="text/javascript").
        function goto(){
          var language = document.getElementById("mySelect").value;

          location.href = location.href.replace("/en/", "/"+language+"/").replace("/th/", "/"+language+"/"); // '/' + language;
            //console.log(location.href);
        }